@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

a {
  color: #00B7FF; 
}

.footer {
    height: 100px;
}

.navbar {
  padding: 1.75rem;
}

.bg-transparent2{
  background: #5616a0dc;
}