{{> header title="Inprodi"}}
{{> "shared_application/navbar" title="Inprodi"}}
    <div class="container my-5 animate__animated animate__fadeInLeft">
      {{{body}}}
    </div>
{{> footer year=2021}}